html, body {
	height: 100%;
}


.material-icons { color: gray; }

.map-wrapper {
	height: inherit;
}


/*
 * Sidebar
 */
	#sidebar-wrapper {
		width: 30%;
	}

	#map-container {
		width: 70%;
	}

	#splitbar {
		background-color: gray;
		height: 100%;
		float: right;
		width: 4px;
		cursor: col-resize;
	}

	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 100; /* Behind the navbar */
		padding: 50px 0 0; /* Height of navbar */
	}

	.sidebar-sticky {
		position: relative;
		top: 0;
		height: calc(100vh - 62px);
		padding-top: .5rem;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	}

	@supports ((position: -webkit-sticky) or (position: sticky)) {
		.sidebar-sticky {
			position: -webkit-sticky;
			position: sticky;
		}
	}

	.sidebar-heading {
		text-transform: uppercase;
	}

	/*
	 * Content
	 */

	[role="main"] {
		padding-top: 133px; /* Space for fixed navbar */
		height: inherit;
	}


	#mapid { 
		height: calc(100vh - 62px);
	}


	table, th, td   {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;	  
		background-color: rgba(86, 61, 124, .15);
		border: 1px solid rgba(86, 61, 124, .2);
		font-size: 80%;

	}

	.legend {
		line-height: 18px;
		color: #555;
	}
	.legend i {
		width: 18px;
		height: 18px;
		float: left;
		margin-right: 8px;
		opacity: 0.7;
	}

.dropdown-item-checked {
  font-weight: bold;

}
